
section {
    display: flex;
    flex-direction: column;
    height: 552px;
    width: 335px;
    margin: 0 auto;

}
.divImgAbout {
    width: 335px;
    height: 223px;
    margin: 0 auto;
}
.divImgAbout > img {
    width: 335px;
    height: 223px;
    object-fit: cover;
    border-radius: 10px;
}
.aboutMenu {
    height: 138px;
    width: 335px;
    margin: 10px auto 0 auto;
}

.titleAbout {
    font-size: 13px;
    font-weight: 500;
    background-color: rgba(255, 96, 96, 1);
    border-radius: 5px;
    color: white;
    height: 30px;
    position: relative;
}
.titleAbout > h2 {
    font-size: 13px;
    font-weight: 500;
    margin-left: 10px;
    padding-top: 5px;
    cursor: pointer;
}
.arrowAbout {
    position: absolute;
    width: 15px;
    height: 24px;
    top: 6px;
    right: 24px;
    cursor: pointer;
}
.descriptionAbout {
    height: auto;
    width: 335px;
    border-radius: 5px;
    background-color: #F7F7F7;
    color: #FF6060;
    font-weight: 400;
    font-size: 12px;
    margin: 0 auto;
    padding: 5px 0 5px 0;

}
.descriptionAbout > p {
    padding: 5px 10px 5px 10px;
}
/* Pour grand écran ------------------------------------------------------------------------------------- */


@media screen and (min-width: 1000px) {


    section {
        height: auto;
        width: 1240px;
    }
    .divImgAbout {
        width: 1240px;
        margin-bottom: 20px;
    }
    .divImgAbout > img {
        width: 1240px;
    }
    .aboutMenu {
        width: 1023px;
        height: 175px;
    }

    .titleAbout {
        height: 47px;
        margin-top: 10px;
    }
    .titleAbout > h2 {
        font-size: 24px;
        margin-left: 20px;
    }
    .arrowAbout {
        top: 15px;
        right: 35px;
    }
    .descriptionAbout {
        width: 100%;
        font-size: 24px;
        height: auto;
        margin: -8px auto 0 auto;
        padding: 15px 10px 3px 10px;
    }
}