
.divImgAbout {
    width: 335px;
    height: 223px;
    margin: 0 auto;
}
.divImgAbout > img {
    width: 335px;
    height: 223px;
    object-fit: cover;
    border-radius: 10px;
}

/* Pour grand écran ------------------------------------------------------------------------------------- */


@media screen and (min-width: 1000px) {


    .divImgAbout {
        width: 1240px;
        margin-bottom: 20px;
    }
    .divImgAbout > img {
        width: 1240px;
    }

}