.divImgCard {
    width: 335px;
    height: 225px;
    margin: 20px auto;
    position: relative;
}
.divImgCard > img {
    width: 335px;
    height: 225px;
    border-radius: 10px;
    object-fit: cover;
}
.divImgCard > p {
    width: 12px;
    height: 20px;
    color: white;
    font-size: 40px;
}
.arrowright {
    position: absolute;
    top: 80px;
    right: 10px;
}
.arrowleft {
    position: absolute;
    top: 80px;
    left: 0px;
}
.leftInfo > h2 {
    width: 335px;
    margin: 5px auto 0 auto;
    color: #FF6060;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: flex-end;
}
.leftInfo > p {
    width: 323px;
    height: 22px;
    margin: 7px auto;
    color: #FF6060;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
}
.btnDescription {
    display: flex;
    flex-direction: row;
    width: 335px;
    margin: 0 auto;
}
.btnDescription > p {
    width: 84px;
    height: 18px;
    border-radius: 5px;
    background-color: #FF6060;
    color: white;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    margin-right: 10px;
}
.rightInfo {
    width: 335px;
    margin: 15px auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;

}
.NamePhoto {
    display: flex;
    flex-direction: row;
}
.NamePhoto > p {
    width: 93px;
    height: 33px;
    font-size: 12px;
    font-weight: 500;
    text-align: right;
    color: #FF6060;

}
.cercle {
    height: 32px;
    width: 32px;
    background-color: #C4C4C4;
    border: 1px solid #C4C4C4;
    border-radius: 50%;
    margin: 0 0 0 10px;
}
.menuderoulant {
    width: 335px;
    height: 30px;
    border-radius: 5px;
    background-color: #FF6060;
    color: white;
}
.menuderoulant > h3 {
    font-size: 13px;
    font-weight: 500;
}
.under {
    width: 335px;
    height: 143px;
    margin: 0 auto;
}




/* Pour grand écran ------------------------------------------------------------------------------------- */


@media screen and (min-width: 1000px) {


    .divImgCard {
        width: 1240px;
        height: 415px;
        border-radius: 25px;
        margin: 15px auto;
    }
    .divImgCard > img {
        width: 1240px;
        height: 415px;
        border-radius: 25px;
        margin: 15px auto;
    }
    .divImgCard > p {
        font-size: 100px;
    }
    .arrowright {
        top: 30%;
        right: 42px;
    }
    .arrowleft {
        top: 30%;
    }
    .fristSection {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1240px;
        margin: 20px auto;
    }
    .leftInfo {
        display: block;
    }
    .leftInfo > h2 {
        width: 653px;
        height: 51px;
        font-size: 36px;
        line-height: 51px;
        margin-top: 0;
    }
    .leftInfo > p {
        width: 176px;
        height: 26px;
        font-size: 18px;
        line-height: 25px;
        margin: 0 0;
    }
    .rightInfo {
        display: block;
        margin: 0;
        position: relative;
    }
    .btnDescription {
        margin: 15px 0;
    }
    .btnDescription > p {
        height: 25px;
        width: 115px;
        border-radius: 10px;
        text-align: center;
    }
    .cercle {
        width: 64px;
        height: 64px;
    }
    .NamePhoto > p {
        font-weight: 500;
        font-size: 18px;
        width: 93px;
        height: 52px;
        display: flex;
        align-items: flex-end;
        text-align: right;
    }
    .stars {
        display: flex;
        width: 30px;
        height: 30px;
    }
    .stars > i {
        margin: 0 7px;
    }
    .secondSection {
        width: 1240px;
        height: 280px;
        margin: 10px auto;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .menuderoulant {
        width: 582px;
        height: 52px;
        border-radius: 10px;
    }
    .menuderoulant > h3 {
        font-size: 18px;
        font-weight: 500;
    }
    .under {
        height: 249px;
        width: 582px;
        border-radius: 10px;
        background-color: #F6F6F6;
        color: #FF6060;
        margin-top: 25px;


    }
}
