/*---------------------------- Top part -------------------------------------------------- */

.fristSectionCard {
    margin: 10px auto;
    height: auto;
}
.divImgCard {
    width: 335px;
    height: 225px;
    margin: 20px auto;
    position: relative;
    background-color: black;
    border-radius: 10px;
}
.divImgCard > img {
    width: 335px;
    height: 225px;
    border-radius: 10px;
    object-fit: cover;
    opacity: 0.9;
}
.arrowRightCard, .arrowLeftCard {
    width: 24px;
    height: 24px;
}
.arrowRightCard {
    position: absolute;
    top: 97px;
    right: 5px;
}
.arrowLeftCard {
    position: absolute;
    top: 102px;
    left: 5px;
}
.leftInfoCard {
    height: auto;
}
.leftInfoCard > h2 {
    width: 335px;
    margin: 5px auto 0 auto;
    color: #FF6060;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: flex-end;
}
.leftInfoCard > p {
    width: 323px;
    height: 22px;
    margin: 7px auto;
    color: #FF6060;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
}
.btnDescriptionCard {
    display: flex;
    flex-direction: row;
    width: 335px;
    margin: 0 auto;
}
.btnDescriptionCard > p {
    width: 84px;
    height: 18px;
    border-radius: 5px;
    background-color: #FF6060;
    color: white;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    margin-right: 10px;
}
.rightInfoCard {
    width: 335px;
    margin: 15px auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;

}
.NamePhotoCard {
    display: flex;
    flex-direction: row;
}
.NamePhotoCard > p {
    width: 93px;
    height: 33px;
    font-size: 12px;
    font-weight: 500;
    text-align: right;
    color: #FF6060;

}
.cercleCard {
    height: 32px;
    width: 32px;
    background-color: #C4C4C4;
    border: 1px solid #C4C4C4;
    border-radius: 50%;
    margin: 0 0 0 10px;
}

/*--------------------------------------------- Bottom part -------------------------------------------------*/


.menuderoulantCard {
    width: 335px;
    height: auto;
    border-radius: 5px;
}
.titleCard {
    font-size: 13px;
    font-weight: 500;
    background-color: #FF6060;
    height: 30px;
    color: white;
    border-radius: 5px;
    position: relative;
}
.fristArrowCard {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 6px;
    right: 10px;
}
.titleCard > h3 {
    font-size: 13px;
    font-weight: 500;
    padding: 7px;
}
.underCard {
    width: 335px;
    height: auto;
    margin: 0 auto;
    background-color: #F7F7F7;
    color: #FF6060;
    border-radius: 10px;
}
.underCard > p {
    font-size: 12px;
    font-weight: 400;
    padding: 15px 7px;
    margin-top: -3px;
}
.underCard > ul {
    list-style-type: none;
    font-size: 12px;
    font-weight: 400;
    padding: 15px 7px;
    margin-top: -3px;

}
/* Pour grand écran ------------------------------------------------------------------------------------- */


@media screen and (min-width: 1000px) {

    /*---------------------------- Top part -------------------------------------------------- */
    .divImgCard {
        width: 1239px;
        height: 414px;
        border-radius: 25px;
        margin: 15px auto;
    }
    .divImgCard > img {
        width: 1240px;
        height: 415px;
        border-radius: 25px;
        margin: 0 auto;
    }
    .arrowLeftCard, .arrowRightCard{
        width: 47px;
        height: 79px;
    }
    .arrowRightCard {
        top: 135px;
        right: 23px;
    }
    .arrowLeftCard {
        top: 135px;
        left: 23px;
    }
    .fristSectionCard {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1240px;
        margin: 20px auto;
    }
    .leftInfoCard {
        display: block;
    }
    .leftInfoCard > h2 {
        width: 653px;
        height: 51px;
        font-size: 36px;
        line-height: 51px;
        margin-top: 0;
    }
    .leftInfoCard > p {
        width: 176px;
        height: 26px;
        font-size: 18px;
        line-height: 25px;
        margin: 0 0;
    }
    .rightInfoCard {
        display: block;
        margin: 0;
        position: relative;
    }
    .btnDescriptionCard {
        margin: 15px 0;
    }
    .btnDescriptionCard > p {
        height: 25px;
        width: 115px;
        border-radius: 10px;
        text-align: center;
    }
    .cercleCard {
        width: 64px;
        height: 64px;
    }
    .NamePhotoCard > p {
        font-weight: 500;
        font-size: 18px;
        width: 93px;
        height: 52px;
        display: flex;
        align-items: flex-end;
        text-align: right;
    }
    .starsCard {
        display: flex;
        width: 30px;
        height: 30px;
    }
    .starsCard > i {
        margin: 0 7px;
    }
    .secondSectionCard {
        width: 1240px;
        height: 280px;
        margin: 10px auto;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .menuderoulantCard {
        width: 582px;
        height: 52px;
        border-radius: 10px;
    }
    .menuderoulantCard > h3 {
        font-size: 18px;
        font-weight: 500;
    }
    .underCard {
        height: 249px;
        width: 582px;
        border-radius: 10px;
        background-color: #F6F6F6;
        color: #FF6060;
        margin-top: 25px;


    }
}
