/*---------------------------- Top part -------------------------------------------------- */

.flatInfos {
    margin: 10px auto;
    height: auto;
}
.textInfosFlat {
    height: auto;
}
.textInfosFlat > h2 {
    width: 335px;
    margin: 5px auto 0 auto;
    color: #FF6060;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: flex-end;
}
.textInfosFlat > p {
    width: 323px;
    height: 22px;
    margin: 7px auto;
    color: #FF6060;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
}
.tagFlat {
    display: flex;
    flex-direction: row;
    width: 335px;
    margin: 0 auto;
}
.tagFlat > p {
    width: 84px;
    height: 18px;
    border-radius: 5px;
    background-color: #FF6060;
    color: white;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    margin-right: 10px;
}
.hostInfo {
    width: 335px;
    margin: 15px auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
.hostName {
    display: flex;
    flex-direction: row;
}
.hostName > p {
    width: 60px;
    height: 33px;
    font-size: 12px;
    font-weight: 500;
    text-align: right;
    color: #FF6060;
}
.hostPicture > img {
    height: 32px;
    width: 32px;
    background-color: #C4C4C4;
    border: 1px solid #C4C4C4;
    border-radius: 50%;
    margin: 0 0 0 10px;
    object-fit: cover;
}
.ratingStars > svg {
    height: 18px;
    width: 18px;
}
/* Pour grand écran ------------------------------------------------------------------------------------- */
@media screen and (min-width: 1000px) {

    /*---------------------------- Top part -------------------------------------------------- */

    .flatInfos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1240px;
        margin: 20px auto;
    }
    .textInfosFlat {
        display: block;
    }
    .textInfosFlat > h2 {
        width: auto;
        height: 51px;
        font-size: 36px;
        line-height: 51px;
        margin-top: 0;
    }
    .textInfosFlat > p {
        width: auto;
        height: 26px;
        font-size: 18px;
        line-height: 25px;
        margin: 0 0;
    }
    .hostInfo {
        display: block;
        margin: 0;
        position: relative;
    }
    .tagFlat {
        margin: 25px 0 15px 0;
    }
    .tagFlat > p {
        height: 25px;
        width: 115px;
        border-radius: 10px;
        text-align: center;
        padding: 4px;
    }
    .hostPicture > img {
        width: 64px;
        height: 64px;
    }
    .hostName {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .hostName > p {
        font-weight: 500;
        font-size: 18px;
        width: 93px;
        height: 52px;
        display: flex;
        align-items: flex-end;
        text-align: right;
    }
    .ratingStars {
        display: flex;
        justify-content: flex-end;
        margin: 20px 0;
    }
    .ratingStars > svg {
        width: 30px;
        height: 30px;
    }
    .ratingStars > i {
        margin: 0 7px;
    }

    /*----------------*/
    .descriptionStuff {
        width: 1240px;
        height: 280px;
        margin: 25px auto 50px auto;
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 8%;
    }
    .hideInfoFlat {
        width: 582px;
        height: 52px;
        border-radius: 10px;
    }
    .hideInfoFlat > h3 {
        font-size: 18px;
        font-weight: 500;
    }
    .underCard {
        width: 582px;
        border-radius: 10px;
        background-color: #F6F6F6;
        color: #FF6060;
        margin-top: 25px;
    }
    .underCard > p, .underCard > li {
        margin-top: -26px;
    }
    .stuffFlat {
        justify-self: end;
    }
}
