
.divImg {
    height: 109px;
    width: 367px;
    border-radius: 15px;
    background-color: black;
    position: relative;
    z-index: 1;
    margin: 10px auto;

}
.divImg > img {
    object-fit: cover;
    height: 109px;
    width: 367px;
    border-radius: 15px;
    position: absolute;
    top: 0;
    right: 1px;
    z-index: 2;
    opacity: 0.7;
}
.divImg > h1 {
    position: absolute;
    color: white;
    bottom: 36%;
    right: 125px;
    font-size: 24px;
    font-weight: 500;
    z-index: 10;
    margin-inside: 0;
    margin: 0;
    width: 217px;
    height: 48px;
}
.sectionHome {
    height: auto;
    margin: 30px 10px;
    border-radius: 15px;
    display: grid;
    grid-template-rows: repeat(6, 255px);
    grid-gap: 30px;
    justify-content: space-around;
    padding-top: 20px;
}
.sectionHome > figure {
    position: relative;
    Width: 367px;
    Height: 255px;
    border-radius: 10px;
    background: linear-gradient(180deg, #FF6060 0%, rgb(120, 50, 50) 150%);
}
figure > img {
    Width: 367px;
    Height: 255px;
    border-radius: 10px;
}
figcaption > h2 {
    color: white;
    justify-self: start;
    align-self: end;
    position: absolute;
    bottom: 0;
    width: 22%;
    font-size: 16px;
    margin: 17px;
}


/* Pour grand écran ------------------------------------------------------------------------------------- */


@media screen and (min-width: 1000px) {

    .divImg {
        margin: 40px auto;
        height: 222px;
        width: 1239px;
        border-radius: 25px;
        background-color: black;
        position: relative;
        z-index: 1;
    }
    .divImg > h1 {
        position: absolute;
        color: white;
        bottom: 33%;
        right: 20%;
        font-size: 48px;
        font-weight: 500;
        z-index: 10;
        height: 68px;
        width: 705px;
    }
    .divImg > img {
        height: 223px;
        width: 1240px;
        border-radius: 25px;
        opacity: 0.8;
        z-index: 2;
    }
    .sectionHome {
        height: 830px;
        width: 1240px;
        margin: 0 auto;
        border-radius: 25px;
        background: #F7F7F7;
        display: grid;
        grid-template-rows: 340px;
        grid-template-columns: 340px 340px 340px;
        row-gap: 35px;
        padding: 38px 30px;
    }
    .sectionHome > figure {
        Width: 340px;
        Height: 340px;
        border-radius: 10px;
        background: linear-gradient(180deg, #FF6060 0%, #da5959 100%);
    }
    figure > img {
        Width: 340px;
        Height: 340px;
        border-radius: 10px;
    }
    figcaption > h2 {
        color: white;
        justify-self: start;
        align-self: end;
    }
}