
.divImgHome {
    height: 109px;
    width: 367px;
    border-radius: 15px;
    background-color: black;
    position: relative;
    z-index: 1;
    margin: 10px auto 0 auto;

}
.divImgHome > img {
    object-fit: cover;
    height: 109px;
    width: 367px;
    border-radius: 15px;
    position: absolute;
    top: 0;
    right: 1px;
    z-index: 2;
    opacity: 0.7;
}
.divImgHome > h1 {
    position: absolute;
    color: white;
    bottom: 36%;
    right: 125px;
    font-size: 24px;
    font-weight: 500;
    z-index: 10;
    margin-inside: 0;
    margin: 0;
    width: 193px;
    height: 48px;
}
.sectionHome {
    height: auto;
    margin: 0 auto 50px auto;
    border-radius: 15px;
    justify-content: space-around;
    padding-top: 20px;
    width: 330px;
}
.sectionHome > figure {
    overflow: hidden;
    border-radius: 10px;
    justify-self: center;
    position: relative;
    margin-bottom: 20px;
    height: 225px;
}
.sectionHome > figure::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1000;
    top: 0;
    display: block;
    opacity: 0.4;
    background:  linear-gradient(to top, black 0%, transparent 50%) ;
}
figcaption {
    position: absolute;
    z-index: 1500;
    padding: 10px;
    bottom: 0;
    box-sizing: border-box;

}
figure > img {
    Height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

figcaption > h2 {
    color: white;
    justify-self: start;
    align-self: end;
    position: absolute;
    bottom: 0;
    width: 22%;
    font-size: 16px;
    margin: 17px;
    width: 1000%;
}


/* Pour grand écran ------------------------------------------------------------------------------------- */


@media screen and (min-width: 1000px) {

    .divImgHome {
        margin: 40px auto;
        height: 222px;
        width: 1239px;
        border-radius: 25px;
        background-color: black;
        position: relative;
        z-index: 1;
    }
    .divImgHome > h1 {
        position: absolute;
        color: white;
        bottom: 33%;
        right: 20%;
        font-size: 48px;
        font-weight: 500;
        z-index: 10;
        height: 68px;
        width: 705px;
    }
    .divImgHome > img {
        height: 223px;
        width: 1240px;
        border-radius: 25px;
        opacity: 0.8;
        z-index: 2;
        object-fit: cover;
    }
    .sectionHome {
        margin: 0 auto;
        border-radius: 25px;
        background: #F7F7F7;
        display: grid;
        grid-template-rows: 340px;
        grid-template-columns: 340px 340px 340px;
        row-gap: 35px;
        padding: 38px 30px;
        width: 1240px;
    }
    .sectionHome > figure {
        Height: 340px;
        overflow: hidden;
        border-radius: 10px;
        justify-self: center;
        position: relative;
        cursor: pointer;

    }


    figcaption > h2 {
        color: white;
        justify-self: start;
        align-self: end;
    }

}